<div class="modal fade" id="modalEditarPessoa" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalEditarPessoaLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarPessoaLabel">
                    Editar Detalhes
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Corpo do modal -->
                <form class="row" action="" method="POST" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="Tiago PEdro" required />
                        </div>

                        <div class="form-group">
                            <label for="numeroBI">Númedo do BI</label>
                            <input type="text" class="form-control" id="numeroBI" name="numeroBI" value="0015245LA045"/>
                        </div>

                        <div class="form-group">
                            <label for="dataNascimento">Data Nascimento</label>
                            <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" value="10/10/2020"/>
                        </div>

                        <div class="form-group">
                            <label for="dataDesaparecimento">Data Desaparecimento</label>
                            <input type="text" class="form-control" id="dataDesaparecimento" name="dataDesaparecimento" value="10/10/2024"/>
                        </div>

                        
                        
                    </div>

                    <div class="col-md-6">
                        <div class="row h-100">
                            <div class="col-8 ">
                                <div class="form-group">
                                    <label for="nomePai">Nome do pai</label>
                                    <input type="text" class="form-control" id="nomePai" name="nomePai" value="Joao da Costa"/>
                                </div>

                                <div class="form-group">
                                    <label for="nomeMae">Nome da mãe</label>
                                    <input type="text" class="form-control" id="nomeMae" name="nomeMae" value="Maria Joao"/>
                                </div>
                            </div>
                            <div class="col-4">

                                <!-- Imagem do Perfil -->
                {% include 'pacientes/imagemPessoa.html' %}
                <!-- Fim Imagem do Perfil -->
                            </div>

                            <div class="form-group col-12">
                                <label for="descricao">Descrição</label>
                                <textarea class="form-control " name="descricao" id="descricao" placeholder="Insira a Descrição" cols="" rows="4">Descricao</textarea>
                            </div>
                            
                        </div>

                        
                    </div>

                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                            Fechar
                        </button>
                        <button type="submit" class="btn btn-success btn-sm">
                            Concluir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
