<!-- Imagem do Perfil -->
{% load static %}

<div>
    <input type="hidden" name="id_usuario" value="" />
    <div class="upload">
        <img src="/media/pacientes/pessoa.png" alt=""
            class="img-fluid img-thumbnail" width="124" id="image" />

        <div class="rightRound" id="upload">
            <input type="file" name="fileImg" id="fileImg" accept=".jpg, .jpeg, .png" />
            <i class="fa fa-camera"></i>
        </div>

        <div class="leftRound" id="cancel" style="display: none">
            <i class="fa fa-times"></i>
        </div>
        <div class="rightRound" id="confirm" style="display: none">
            <input type="hidden" />
            <i class="fa fa-check"></i>
        </div>
    </div>
</div>
<!-- Fim Imagem do Perfil -->